
.Radar {
  height: 100px;
  width: 100px;
  background-color: red;
}
/*
.Radar {
  width: 75px;
  height: 75px;
  position: relative;
  background: #FFF;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #2BA0C7), color-stop(60%, rgba(255, 255, 255, 0)));
  -webkit-animation: spinit 1.4s infinite linear;
}
.Radar:before {
  width: 50%;
  height: 50%;
  background: #fff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.Radar:after {
  background: #fff;
  width: 75%;
  height: 75%;
  border-radius: 999px;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.6;
}

.Radar:hover {
  -webkit-animation-play-state: paused;
}

@-webkit-keyframes spinit {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
*/
